.admin_search {
    position: relative;
}

.productList_result {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px;
    border-radius: 4px;
}



.product_item {
    display: grid;
    grid-template-columns: 110px 400px auto;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid var(--outline);

}

.product_item:last-child {
    border: none;
}

.cell {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
}

.product_img {
    width: 110px;
    height: 73px;
}