.mySwiper {
    padding-bottom: 20px;  
    width: 100%; 
}

.mySwiper :global(.swiper-slide) {
    /* width: 200px; */
    /* width: fit-content; */
    /* will-change: transform; */
}

.mySwiper :global(.swiper-wrapper) {
    will-change: transform;
}

.mySwiper :global(.swiper-scrollbar) {
    bottom: 0;
    height: 4px;
    background-color: var(--surface);
    border-radius: 2px;
}

.mySwiper :global(.swiper-scrollbar-drag) {
    background-color: var(--gray);
    border-radius: 2px;
    cursor: pointer;
}