.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.modal_window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--surface);
    border-radius: 4px;
    z-index: 4;
    max-height: 90vh;
    overflow-y: auto;
    width: 400px;
}


@media (max-width: 576px) {
    .modal_window {
        width: 100%;
    }
}