.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    align-items: center;
    justify-content: center;
}

.modal_window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--surface);
    border-radius: 4px;
    z-index: 3;
}