.sidebar {
    position: fixed;
    top: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    transition: opacity 0.3s ease, visibility 0.3s ease, right 0.3s ease;
    height: 100vh;
}

.offset_left {
    left: -500px;
}

.offset_right{
    right: -500px;
}

.sidebar_active {
    opacity: 1;
    visibility: visible;
    left: 0px;
}

.sidebar_active_right {
    opacity: 1;
    visibility: visible;
    right: 0px;
}