.layout__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 60px 50px 60px;
    background-color: #F6F6F6;
}

@media (max-width: 576px) {
    .layout__content {
        padding: 20px 16px 50px 16px;
    }
}