.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.title {
    font-size: var(--title1-xxl);
    color: var(--main);
}

.contacts_container {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
    padding-left: 5%;
}

.left_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 447px;
    padding: 10px 0px;
    grid-area: a;
}

.middle_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0px;
    grid-area: b;
}

.map_container {
    grid-area: c;
    width: 426px;
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info_title {
    font-size: 1.5rem;
    color: #000;
}

.info_link {
    font-size: 1rem;
    color: var(--main);
}

@media (max-width: 1400px) {
    .title {
        font-size: var(--title1-xl);
    }

    .contacts_container {
        grid-template-areas: "a a"
            "b c";
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding-left: 0;
    }
}

@media (max-width: 1096px) {
    .title {
        font-size: var(--title1-l);
    }
}

@media (max-width: 992px) {
    .contacts_container {
        grid-template-areas: "a"
            "b" "c";
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: var(--title1-m);
    }
}

@media (max-width: 576px) {
    .title {
        font-size: var(--title1-s);
    }

    .left_container {
        width: 100%;
    }

    .map_container {
        width: auto;
    }

}

@media (max-width: 400px) {
    .title {
        font-size: var(--title1-xs);
    }
}

.map {
    aspect-ratio: 1;
}