.topbar {
    padding: 13px 60px;
    border-bottom: 1px solid var(--gray);
    background-color: #F6F6F6;

}

.topbar_container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1900px;
}

.logo {
    width: 50px;
    height: 50px;
    color: aqua;
}

.navlist {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.navlist_item {
    color: var(--main);
    font-size: 1.125rem;
}

@media (max-width: 1400px) {
    .navlist {}
}

@media (max-width: 1096px) {
    .topbar {
        padding: 13px 16px;
    }

    .navlist {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 576px) {
    .topbar {
        padding: 8px 8px;
    }
}