.input {
    box-sizing: border-box;
    padding: 16px 25px;
    background-color: #fff;
    color: var(--main);
    font-size: 1rem;
    border: none;
    border-radius: 4px;
}

.input::placeholder {
    color: #6d6d71;
}