.container {
    position: relative;
    display: inline-flex;
    /* z-index: 50; */
    width: fit-content;

}

.title_container {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding: 2px 0px 2px 0px;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
}

.title_container:hover {
    background-color: var(--on-main-container);
}

.title {
    font-size: 1rem;
    letter-spacing: 0.25px;
    margin-right: 10px;
}


.options {
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    min-width: 100%;
    max-height: 150px;
    overflow: auto;
    display: block;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
    transition: visibility .15s ease-in;
}

.option {
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 0.25px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.option:hover {
    background-color: #f5f5f5;
}