.footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: 80px 60px 20px 60px;
    background-color: var(--main);
}

.footer_container {
    display: grid;
    grid-template: "a b c d";
    grid-template-columns: 4fr 3fr 4fr 5fr;
    gap: 20px;
    margin: 0 auto;
}

.fake_title {
    width: 20px;
    height: 20px;
}

@media (max-width: 1200px) {
    .footer_container {
        grid-template: "d d d"
           "a b c";
        grid-template-columns: 4fr 3fr 4fr;
        column-gap: 40px;
        row-gap: 50px
    }
}

@media (max-width: 768px) {
    .footer_container {
        grid-template: "d"
           "a"
           "b"
           "c";
        column-gap: 40px;
        row-gap: 50px
    }

    .fake_title{
        display: none;
    }
}
@media (max-width: 576px) { 
    .footer {
        padding: 60px 16px 20px 16px;
    }
    .footer_container {
        width: 100%;
        margin: 0;
    }
    .footer_list {
        width: 100%;
    }
}


.footer_list {
    display: flex;
    flex-direction: column;
    gap: 21px;
}


.footer_title {
    color: #fff;
    font-size: 1.125rem;
}

.footer_list_items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_item {
    color: var(--on-main);
}


.footer_credits {
    font-size: 0.8rem;
    color: var(--on-main);
    margin: 14px 30px;
}

.icon_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}