.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form_title {
    padding: 15px 80px;
    font-size: 1.5rem;
}

.err {
    color: var(--red);
    font-size: 0.875rem;
}