.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--surface);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 8px;
    /* background-color: #fff; */
    border: 2px solid var(--on-main-container);
    width: 300px;
}

.error {
    color: var(--red);
    font-size: 0.875rem;
}