.search_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 20px 0px 16px;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    border: 1px solid transparent;
    position: relative;
}

.input {
    outline: none;
    border: none;
    padding: 12px 0px;
    font-size: 1rem;
    font-weight: 300;
    width: calc(100% - 24px);
}

.icon {
    position: absolute;
    right: 16px;
    width: 24px;
    height: 24px;
    z-index: 20;
}

.search_container:hover {
    border: 1px solid var(--outline);
}

.search_container:focus-within {
    border: 1px solid var(--outline);
}

.productList_result {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 5px);
    z-index: 20;
    background-color: #fff;
    border-radius: 4px;
    /* width: calc(100% + 150px); */
    width: 100%;
    padding: 8px 0px;
}

.product_item {
    padding: 8px 20px;
}

.product_item:hover {
    background-color: var(--on-main-container);
    cursor: pointer;
}