.container {
    position: relative;
    display: inline-flex;
    /* z-index: 50; */
    width: 100%;
}

.title_container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
}

.title {
    font-size: 1rem;
    letter-spacing: 0.25px;
    margin-right: 10px;
}

.arrow {
    transform-origin: center;
    /* transition: transform 0.2s; */
}

.fake_arrow {
    width: 24px;
    height: 24px;
}

.arrow_active {
    transform: rotate(-180deg);
}

.options {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
    transition: visibility .15s ease-in;
}

.option {
    padding: 10px 10px;
    font-size: 1rem;
    letter-spacing: 0.25px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_container:hover {
    background-color: var(--on-main-container);
}

.option:hover {
    background-color: #f5f5f5;
}

