:global(.mdxeditor-root-contenteditable ul) {
  list-style-type: disc;
  margin-left: 1.5rem;
}

:global(.mdxeditor-root-contenteditable ol) {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

:global(.mdxeditor-root-contenteditable li) {
  list-style-position: outside;
}