.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid transparent;
}


.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.materials_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.material_item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 6px 5px 10px;
    border: 1px solid var(--outline);
    background-color: #fff;
    border-radius: 4px;
}
.icon_container{
    display: inline;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    transform: background-color 0.2s ease;
}

.icon_container:hover {
    background-color: var(--on-main);
}
.close_icon {
    display: block;
    width: 20px;
    height: 20px;
}