.container {
    position: relative;
    width: 100%;
    aspect-ratio: 1.1538;
    cursor: grab;
}

.mainImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.triggers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
}

.triggerWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trigger {
    flex: 1;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.indicator {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    /* box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.8); */
    background-color: var(--main);
    opacity: 0;
}