

.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 64px;
    grid-column-gap: 24px;
    padding-bottom: 64px;
}

@media (max-width: 1400px) {
    .product_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1096px) {
    .product_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product_list {
        gap: 16px;
    }
}

@media (max-width: 568px) {
    .product_list {
        gap: 8px;
    }
}