.table {
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    width: 600px;
}

.header {
    display: grid;
    grid-template-columns: 110px 2fr 2fr 110px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 12px 16px;
    font-weight: 500;
    color: #666;
    border-bottom: 1px solid var(--outline);
}

.row {
    display: grid;
    grid-template-columns: 110px 2fr 2fr 110px;
    gap: 16px;
    padding: 12px 16px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--outline);
}

.row:hover {
    background: #f5f5f5;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.category_image {
    width: 100%;
    aspect-ratio: 1.51;
    object-fit: cover;
    border-radius: 4px;
}

.actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.action_icon {
    width: 23px;
    height: 23px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.2s, background 0.2s;
}

.action_icon:hover {
    filter: brightness(0.8);
    background: var(--on-main);
}

.title_container {
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: var(--on-surface);
}

