.container {
    position: relative;
    display: inline-flex;
    /* z-index: 50; */
    width: 100%;
}

.title_container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 13px 25px;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}

.title {
    font-size: 0.9375rem;
    letter-spacing: 0.25px;
    margin-right: 10px;
}

.arrow {
    transform-origin: center;
    transition: transform 0.2s;
}

.arrow_active {
    transform: rotate(-180deg);
}

.options_container {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 50;
    background: #fff;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.options {
    max-height: 220px;
    overflow: auto;
    scrollbar-gutter: stable;
}

.option {
    padding: 16px 25px;
    font-size: 0.9375rem;
    letter-spacing: 0.25px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title_container:hover {
    background-color: #f5f5f5;
}

.option:hover {
    background-color: #f5f5f5;
}