.container {
    position: relative;
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: 4px;
}

.title_container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 13px 25px;
    cursor: pointer;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
}

.title {
    font-size: 0.9375rem;
    letter-spacing: 0.25px;
}

.arrow {
    transform-origin: center;
    transition: transform 0.2s;
    width: 23px;
    height: 18px;
}

.arrow_active {
    transform: rotate(-180deg);
}

.options_container {
    min-width: 100%;
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 50;
    background: #fff;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.options {
    max-height: 220px;
    overflow: auto;
    /* scrollbar-gutter: stable; */
}


.option {
    padding: 16px 25px;
    font-size: 0.9375rem;
    letter-spacing: 0.25px;
    cursor: pointer;
    white-space: nowrap;
}

.title_container:hover {
    background-color: #f5f5f5;
}

.option:hover {
    background-color: #f5f5f5;
    border-radius: 4px;
}

/* variants */
.variant_default .title_container {
    background-color: #fff;
}

.variant_default .title_container:hover {
    outline: 1px solid var(--outline);
}

.variant_sort .title_container {
    background-color: transparent;
}

.variant_sort .title:hover {
    text-decoration: underline;
}

.variant_sort .title {
    font-weight: 300;
}

/* font sizes + paddings */
.font_sm .title_container {
    padding: 10px 18px;
}

.font_sm .title {
    font-size: 0.9375rem;
}

.font_sm .option {
    padding: 10px 18px;
    font-size: 0.9375rem;
}

.font_md .title_container {
    padding: 13px 25px;
}

.font_md .title {
    font-size: 1rem;
}

.font_md .option {
    padding: 16px 25px;
    font-size: 0.9375rem;
}

.font_lg .title_container {
    padding: 10px 0px 10px 13px;
}

.font_lg .options_container .title_container {
    padding: 10px 13px;
}

.font_lg .title {
    font-size: 1.125rem;
}

.font_lg .option {
    padding: 10px 13px;
    font-size: 1.125rem;
}

/* dropdown side */
.dropdown_right .options_container {
    right: 0;
    left: auto;
}

.dropdown_left .options_container {
    left: 0;
    right: auto;
}