.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product_info {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info_left_container {
    flex-grow: 1;
    min-width: 0;
}

.info_right_container {
    display: flex;
    flex-direction: column;
    width: 497px;
    gap: 20px;
    padding-top: 20px;
    flex-shrink: 0;
}

.title {
    /* font-size: 2rem; */

}

.price {
    font-size: 2.25rem;
}

.color_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px;
}

.color_title {
    font-size: 1rem;
}

.colors {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button_container {
    width: 343px;
}



.product_description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title2 {
    padding: 20px 0px 0px 30px;
    /* font-size: 2rem; */
}

.description {
    font-size: 1rem;
    padding: 0 40px;
}

.description h1 {
    font-size: 1.875rem;
}

.description h2 {
    font-size: 1.75rem;
}

.description h3 {
    font-size: 1.5rem;
}

.description h4 {
    font-size: 1.25rem;
}

/* основной текст */
.description p,
.description li,
.description td,
.description th {
    font-size: 16px;
    line-height: 1.5;
}

/* таблицы */
.description table {
    border-collapse: collapse;
    width: 100%;
}

.description table,
.description th,
.description td {
    border: 1px solid var(--outline);
}

.description th,
.description td {
    padding: 5px 10px;
}

.features_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

.feature_title {
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 1rem;
    color: var(--gray);
}

.feature_points {
    flex: 1;
    min-width: 20px;
    border-bottom: 1px dashed var(--outline);
    margin-bottom: 4px;
}

.feature_text {
    white-space: nowrap;
    font-size: 1rem;
    /* text-overflow: ellipsis; */
    overflow-x: auto;
    scrollbar-width: none;
}

.product_seems {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: visible;
    /* padding: 0px 60px; */
}

.swiper_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.swiper_prev_button {
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
}

.swiper_next_button {
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
}

.mySwiper {
    width: 100%;
}

.mySwiper :global(.swiper-pagination-bullet) {
    background-color: var(--main);
}

.mySwiper :global(.swiper-slide) {
    height: auto;
    display: flex;
    align-items: stretch;
}

.mySwiper :global(.swiper-slide)>* {
    width: 100%;
}

.mySwiper :global(.swiper-wrapper) {
    /* justify-content: center; */
}

@media (max-width: 1400px) {
    .info_left_container {
        width: 100%;
    }

    .info_right_container {
        width: 400px;
    }

    .title2 {
        padding: 0;
    }

    .description {
        padding: 0px 10px;
    }

    .product_seems {
        gap: 30px;
    }
}


@media (max-width: 1096px) {
    .product_info {
        flex-direction: column;
        gap: 20px;
    }

    .info_right_container {
        width: 469px;
        padding: 0;
    }

    .title {
        /* font-size: 1.8rem; */
    }

    .price {
        font-size: 2rem;
    }

}

@media (max-width: 768px) {
    .title {
        /* font-size: 1.4rem; */
    }

    .price {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {

    .info_right_container {
        width: 100%;
    }

    .button_container {
        width: 100%;
    }

    .swiper_prev_button {
        display: none;
    }

    .swiper_next_button {
        display: none;
    }

    .product_info {
        gap: 10px;
    }

}