.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product_info {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info_left_container {
    flex-grow: 1;
    min-width: 0;
}

.info_right_container {
    display: flex;
    flex-direction: column;
    width: 497px;
    gap: 20px;
    padding-top: 20px;
    flex-shrink: 0;
}

.title {
    font-size: 2rem;
}

.price {
    font-size: 2.25rem;
}

.button_container {
    width: 343px;
}

.product_description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title2 {
    padding: 0 30px;
    font-size: 2rem;
}

.description {
    font-size: 1rem;
    padding: 0 40px;
}

.features_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

.feature_title {
    white-space: nowrap;
    font-size: 1rem;
    color: var(--gray);
}

.feature_points {
    width: 100%;
    border-bottom: 1px dashed var(--outline);
    margin-bottom: 4px;
}

.feature_text {
    white-space: nowrap;
    font-size: 1rem;
}

.product_seems {
    padding: 0px 60px;
}


@media (max-width: 1400px) {
    .info_left_container {
        width: 100%;
    }

    .info_right_container {
        width: 400px;
    }

    .title2 {
        padding: 0;
    }

    .description {
        padding: 0px 10px;
    }
}


@media (max-width: 1096px) {
    .product_info {
        flex-direction: column;
        gap: 20px;
    }

    .info_right_container {
        width: 469px;
        padding: 0;
    }

    .title {
        font-size: 1.8rem;
    }

    .price {
        font-size: 2rem;
    }

}

@media (max-width: 768px) {
    .title {
        font-size: 1.4rem;
    }

    .price {
        font-size: 1.8rem;
    }
}

@media (max-width: 576px) {

    .info_right_container {
        width: 100%;
    }

    .button_container {
        width: 100%;
    }
}