.container {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 30px;
}

.miniatures {
    box-sizing: border-box;
    width: 100px;
    height: 395px;
    /* box-sizing: border-box; */
}

.miniature {
    width: 98px;
    height: 100%;
    object-fit: cover;
}

.miniatures :global(.swiper-slide) {
    width: 98px !important;
    height: 65px !important;
    border-radius: 4px;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    border: 1px solid transparent;
}

/* Стиль для активного слайда */
.miniatures :global(.swiper-slide-thumb-active) {
    width: 98px !important;
    height: 65px !important;
    opacity: 1 !important;
    border: 1px solid var(--outline);
}

.miniatures :global(.swiper-slide) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.image_container {
    flex-grow: 1;
    min-width: 0;
    max-width: calc(100% - 100px - 15px);
    border-radius: 4px;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 1.5;
    object-fit: cover;
}
